<!--Content Section-->
<div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">


        <!--Content Left Side-->
        <div class="col-3">
            <!--User Testimonial-->
            <blockquote class="testimonial text-right bigtest">
                <q>J'adore ce centre, les cours sont bien organisés les profs géniaux et l'installation impeccable</q>
                <footer>— John Doe, Client</footer>
            </blockquote>
            <!-- End of Testimonial-->

        </div>
        <!--End Content Left Side-->

        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                <h3>BELIEVING</h3>
                <h2 class="section-title">Avantages</h2>
                <p class="section-subtitle">Le cheval c'est trop génial !!</p>
            </div>
            <p>Votre licence FFE vous permet de bénéficier auprès de partenaires de tarifs préférentiels
                 et de réductions pour vous assurer, voyager, aller aux spectacles et salons équestres,
                  vous organiser, vous équiper et vous informer.
            </p>
            <p>
                Petite vidéo pour ce mettre dans l'ambiance!
            </p>
            <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
            <a href="https://youtu.be/dQw4w9WgXcQ" data-videoid="dQw4w9WgXcQ" data-videosite="youtube" class="button video link-lightbox">
                REGARDER LA VIDEO <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </div>
        <!--End Content Right Side-->

        <div class="col-3">
            <img src="../assets/images/cheval.jpg" alt="Cheval"/>
        </div>

    </div>


</div>
<!--End of Content Section-->