
<!--Introduction-->
<section id="about" class="introduction scrollto">
    <div class="col-3">
        <div class="section-heading">
            <h3>SUCCESS</h3>
            <h2 class="section-title">Comment le centre vous accompagne?</h2>
            <p class="section-subtitle">Le centre équestre dispose d’équipements
                 de qualité qui permettent la pratique d’une équitation riche et variée!</p>
        </div>

    </div>
    
    <div class="row clearfix">

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-cogs fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Les équipements</h4>
                    <p>Un hall d'accueil aménagé. De multiple boxes avec 4 selleries. Un coin avec douches
                        et pensage. Une boutique vêtements et matériels d'équitation.
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-user fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Le personnel</h4>
                    <p>Un personnel chaleureux et efficace. Assurant la vente, l'acceuil, la réception des appels
                        et le maintien du centre.
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-certificate fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Les cours</h4>
                    <p>Des cours réguliers et efficace en accord avec votre niveau et des professeurs
                         certifiés par la FFE.</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-heartbeat fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Les chevaux</h4>
                    <p>Des chevaux toujours prêts, bien traités et soignés. Les chevaux seront
                        brossés, lavés après le cours par vos soins.
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->


    </div>


</section>
<!--End of Introduction-->