<div id="header" class="nav-collapse nav-solid">
    <div class="row clearfix">
        <div class="col-1">

            <!--Logo-->
            <div id="logo">

                <!--Logo that is shown on the banner-->
                <img src="../assets/images/logo-ffe.png" id="banner-logo" alt="Landing Page"/>
                <!--End of Banner Logo-->

                <!--The Logo that is shown on the sticky Navigation Bar-->
                <img src="assets/images/logo-ffe.png" id="navigation-logo" alt="Landing Page"/>
                <!--End of Navigation Logo-->

            </div>
            <!--End of Logo-->
            <aside>
                <app-social></app-social>
            </aside>
            

            <!--Main Navigation-->
            <nav id="nav-main">
                <ul>
                    <li>
                        <a routerLink="/home" (click)="getActiveTab('home')" [class.active]="activeTab === 'home'">Accueil</a>
                    </li>
                    <li>
                        <a routerLink="/about" (click)="getActiveTab('about')" [class.active]="activeTab === 'about'">A propos</a>
                    </li>
                    <li>
                        <a routerLink="/gallery" (click)="getActiveTab('gallery')" [class.active]="activeTab === 'gallery'">Galerie</a>
                    </li>
                    <li>
                        <a routerLink="/services" (click)="getActiveTab('services')" [class.active]="activeTab === 'services'">Services</a>
                    </li>
                    <li>
                        <a routerLink="/testimonials" (click)="getActiveTab('testimonials')" [class.active]="activeTab === 'testimonials'">Testimonials</a>
                    </li>
                    <li>
                        <a routerLink="/pricing" (click)="getActiveTab('pricing')" [class.active]="activeTab === 'pricing'">Pricing</a>
                    </li>
                    <li>
                      <a routerLink="/login" (click)="getActiveTab('login')" [class.active]="activeTab === 'login'">Login</a>
                    </li>
                    <!-- <li>
                        <a (click)="logout()">Logout</a>
                    </li> -->
                </ul>
            </nav>
            <!--End of Main Navigation-->

            <div id="nav-trigger"><span></span></div>
            <nav id="nav-mobile"></nav>

        </div>
    </div>
</div><!--End of Header-->