<!--Main Navigation-->
<nav id="nav-main">
    <ul>
        <li>
            <a href="#banner">Accueil</a>
        </li>
        <li>
            <a href="#about">A propos</a>
        </li>
        <li>
            <a href="#gallery">Galerie</a>
        </li>
        <li>
            <a href="#services">Services</a>
        </li>
        <li>
            <a href="#testimonials">Testimonials</a>
        </li>
        <!--<li>
            <a href="#clients">Clients</a>
        </li>-->
        <li>
            <a href="#pricing">Pricing</a>
        </li>
        <li>
          <a href="/memberLogin">Membre</a>
      </li>
    </ul>
</nav>
<!--End of Main Navigation-->